@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Yeseva+One&display=swap");
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
:root {
	--clr-black: #050505;
	--clr-white: #f2f2f2;
	--clr-mustard: #bd7e21;
	--clr-red: #990d00;
	--clr-beige: #cab596;
}
$main-content-max-width: min(90vw, 1080px);
$ff-yeseva: "Yeseva One", cursive;
$ff-monst: "Montserrat", sans-serif;
h1,
h2,
h3,
h4,
h5,
h6,
strong {
	font-family: $ff-yeseva;
	color: var(--clr-white);
}
a,
li,
p {
	font-family: $ff-monst;
	font-weight: 300;
	color: var(--clr-white);
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
body {
	background-color: var(--clr-black);
	overflow-x: hidden;
	min-height: 500vh;
}
